/* add your CSS here */
html {
  margin-left: 5%;
  height: 770px;
  width: 500px;
}

body {
  border-style:  groove;
  border: 1.7px solid #dcdee2;
  box-shadow: 10px 10px 5px #cfd2d6;
  padding: 20px;
}

h3 {
  font:  45px times new roman;
  margin: 15px;
}

img {
  width: 300px;
  margin-bottom: 10px;
}

.center {
  border-style: groove;
  border: 1.5px solid #dcdee2;
  margin: 2px;
  padding: 5px;
}

p,
b {
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}
